-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bitesync
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_addon`
--

DROP TABLE IF EXISTS `tbl_addon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_addon` (
  `AddonId` int(11) NOT NULL AUTO_INCREMENT,
  `FoodId` int(11) NOT NULL,
  `AddonName` varchar(150) NOT NULL,
  `AddonPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `AddonStatus` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`AddonId`),
  KEY `fk_addon_food` (`FoodId`),
  CONSTRAINT `fk_addon_food` FOREIGN KEY (`FoodId`) REFERENCES `tbl_food` (`FoodId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_addon`
--

LOCK TABLES `tbl_addon` WRITE;
/*!40000 ALTER TABLE `tbl_addon` DISABLE KEYS */;
INSERT INTO `tbl_addon` VALUES (1,1,'เธเธธเนเธเธเธ',90.00,1),(2,4,'เธ•เธตเธเนเธเน',20.00,1);
/*!40000 ALTER TABLE `tbl_addon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_address`
--

DROP TABLE IF EXISTS `tbl_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_address` (
  `AdrId` int(11) NOT NULL AUTO_INCREMENT,
  `UsrId` int(11) DEFAULT NULL,
  `HouseNo` varchar(20) DEFAULT NULL,
  `Village` varchar(100) DEFAULT NULL,
  `Road` varchar(100) DEFAULT NULL,
  `Soi` varchar(100) DEFAULT NULL,
  `Moo` varchar(20) DEFAULT NULL,
  `SubDistrict` varchar(100) DEFAULT NULL,
  `District` varchar(100) DEFAULT NULL,
  `Province` varchar(100) DEFAULT NULL,
  `Zipcode` char(5) DEFAULT NULL,
  `AdrLat` decimal(10,7) DEFAULT NULL,
  `AdrLng` decimal(10,7) DEFAULT NULL,
  `IsDefault` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`AdrId`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_address`
--

LOCK TABLES `tbl_address` WRITE;
/*!40000 ALTER TABLE `tbl_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_food`
--

DROP TABLE IF EXISTS `tbl_food`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_food` (
  `FoodId` int(11) NOT NULL AUTO_INCREMENT,
  `ShopId` int(11) NOT NULL,
  `CatId` int(11) DEFAULT NULL,
  `FoodName` varchar(150) NOT NULL,
  `FoodDetail` text DEFAULT NULL,
  `FoodImagePath` varchar(255) DEFAULT NULL,
  `FoodStatus` tinyint(4) NOT NULL DEFAULT 1,
  `FoodPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `FoodPrepTime` int(11) DEFAULT 30,
  `FoodRatingAvg` decimal(3,2) DEFAULT 0.00,
  `FoodRatingCount` int(11) DEFAULT 0,
  PRIMARY KEY (`FoodId`),
  KEY `fk_food_shop` (`ShopId`),
  KEY `fk_food_cat` (`CatId`),
  CONSTRAINT `fk_food_cat` FOREIGN KEY (`CatId`) REFERENCES `tbl_menu_category` (`CatId`) ON DELETE SET NULL,
  CONSTRAINT `fk_food_shop` FOREIGN KEY (`ShopId`) REFERENCES `tbl_shop` (`ShopId`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_food`
--

LOCK TABLES `tbl_food` WRITE;
/*!40000 ALTER TABLE `tbl_food` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_food` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_menu_category`
--

DROP TABLE IF EXISTS `tbl_menu_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_menu_category` (
  `CatId` int(11) NOT NULL AUTO_INCREMENT,
  `ShopId` int(11) NOT NULL,
  `CatName` varchar(100) NOT NULL,
  PRIMARY KEY (`CatId`),
  KEY `fk_cat_shop` (`ShopId`),
  CONSTRAINT `fk_cat_shop` FOREIGN KEY (`ShopId`) REFERENCES `tbl_shop` (`ShopId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_menu_category`
--

LOCK TABLES `tbl_menu_category` WRITE;
/*!40000 ALTER TABLE `tbl_menu_category` DISABLE KEYS */;
INSERT INTO `tbl_menu_category` VALUES (14,1,'เธชเธฅเธฑเธ”'),(15,1,'เนเธเธ-เธ•เนเธก'),(17,2,'เน€เธเนเธ'),(18,2,'เธเนเธณเธชเธ”เธเธทเนเธ'),(20,3,'เธขเนเธฒเธ'),(22,6,'เธเธฒเนเธเน'),(23,7,'เธเนเธณ');
/*!40000 ALTER TABLE `tbl_menu_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_odtaddon`
--

DROP TABLE IF EXISTS `tbl_odtaddon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_odtaddon` (
  `OdtAddId` int(11) NOT NULL AUTO_INCREMENT,
  `OdtId` int(11) NOT NULL,
  `AddonId` int(11) NOT NULL,
  `OdtAddName` varchar(150) DEFAULT NULL,
  `OdtAddPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `OdtAddQty` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`OdtAddId`),
  KEY `fk_odtaddon_odt` (`OdtId`),
  KEY `fk_odtaddon_addon` (`AddonId`),
  CONSTRAINT `fk_odtaddon_addon` FOREIGN KEY (`AddonId`) REFERENCES `tbl_addon` (`AddonId`),
  CONSTRAINT `fk_odtaddon_odt` FOREIGN KEY (`OdtId`) REFERENCES `tbl_order_detail` (`OdtId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_odtaddon`
--

LOCK TABLES `tbl_odtaddon` WRITE;
/*!40000 ALTER TABLE `tbl_odtaddon` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_odtaddon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_order`
--

DROP TABLE IF EXISTS `tbl_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_order` (
  `OdrId` int(11) NOT NULL AUTO_INCREMENT,
  `UsrId` int(11) NOT NULL,
  `ShopId` int(11) NOT NULL,
  `RiderId` int(11) DEFAULT NULL,
  `AdrId` int(11) DEFAULT NULL,
  `OdrStatus` tinyint(4) NOT NULL DEFAULT 0,
  `OdrNoteRider` varchar(255) DEFAULT NULL,
  `OdrDistance` decimal(6,2) DEFAULT NULL,
  `OdrFoodPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `OdrDelFee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `OdrPlatformFee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `OdrGrandTotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `OdrCreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  `OdrUpdatedAt` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `RiderRating` tinyint(1) DEFAULT NULL,
  `OdrGP` decimal(10,2) DEFAULT 0.00,
  `OdrRiderFee` decimal(10,2) DEFAULT 0.00,
  `OdrAdminFee` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`OdrId`),
  KEY `fk_order_user` (`UsrId`),
  KEY `fk_order_shop` (`ShopId`),
  KEY `fk_order_rider` (`RiderId`),
  KEY `fk_order_address` (`AdrId`),
  CONSTRAINT `fk_order_address` FOREIGN KEY (`AdrId`) REFERENCES `tbl_address` (`AdrId`),
  CONSTRAINT `fk_order_rider` FOREIGN KEY (`RiderId`) REFERENCES `tbl_rider` (`RiderId`),
  CONSTRAINT `fk_order_shop` FOREIGN KEY (`ShopId`) REFERENCES `tbl_shop` (`ShopId`),
  CONSTRAINT `fk_order_user` FOREIGN KEY (`UsrId`) REFERENCES `tbl_userinfo` (`UsrId`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_order`
--

LOCK TABLES `tbl_order` WRITE;
/*!40000 ALTER TABLE `tbl_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_order_cancel_history`
--

DROP TABLE IF EXISTS `tbl_order_cancel_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_order_cancel_history` (
  `OchId` int(11) NOT NULL AUTO_INCREMENT,
  `OdrId` int(11) NOT NULL,
  `RiderId` int(11) NOT NULL,
  `OchCreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`OchId`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_order_cancel_history`
--

LOCK TABLES `tbl_order_cancel_history` WRITE;
/*!40000 ALTER TABLE `tbl_order_cancel_history` DISABLE KEYS */;
INSERT INTO `tbl_order_cancel_history` VALUES (1,31,1,'2026-03-22 19:49:12'),(2,38,1,'2026-03-22 20:19:57'),(3,60,1,'2026-03-23 09:32:09'),(4,61,1,'2026-03-23 09:33:45');
/*!40000 ALTER TABLE `tbl_order_cancel_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_order_detail`
--

DROP TABLE IF EXISTS `tbl_order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_order_detail` (
  `OdtId` int(11) NOT NULL AUTO_INCREMENT,
  `OdrId` int(11) NOT NULL,
  `FoodId` int(11) NOT NULL,
  `SizeId` int(11) DEFAULT NULL,
  `OdtUnitPrice` decimal(10,2) NOT NULL,
  `OdtQty` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`OdtId`),
  KEY `fk_odt_order` (`OdrId`),
  KEY `fk_odt_food` (`FoodId`),
  KEY `fk_odt_size` (`SizeId`),
  CONSTRAINT `fk_odt_food` FOREIGN KEY (`FoodId`) REFERENCES `tbl_food` (`FoodId`),
  CONSTRAINT `fk_odt_order` FOREIGN KEY (`OdrId`) REFERENCES `tbl_order` (`OdrId`) ON DELETE CASCADE,
  CONSTRAINT `fk_odt_size` FOREIGN KEY (`SizeId`) REFERENCES `tbl_size` (`SizeId`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_order_detail`
--

LOCK TABLES `tbl_order_detail` WRITE;
/*!40000 ALTER TABLE `tbl_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_payment`
--

DROP TABLE IF EXISTS `tbl_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_payment` (
  `PmtId` int(11) NOT NULL AUTO_INCREMENT,
  `OdrId` int(11) NOT NULL,
  `PmtMethod` varchar(50) DEFAULT NULL,
  `PmtSlipPath` varchar(255) DEFAULT NULL,
  `PmtAmount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `PmtStatus` tinyint(4) NOT NULL DEFAULT 0,
  `PmtCreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`PmtId`),
  UNIQUE KEY `OdrId` (`OdrId`),
  CONSTRAINT `fk_payment_order` FOREIGN KEY (`OdrId`) REFERENCES `tbl_order` (`OdrId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_payment`
--

LOCK TABLES `tbl_payment` WRITE;
/*!40000 ALTER TABLE `tbl_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_review`
--

DROP TABLE IF EXISTS `tbl_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_review` (
  `ReviewId` int(11) NOT NULL AUTO_INCREMENT,
  `FoodId` int(11) NOT NULL,
  `UsrId` int(11) NOT NULL,
  `OdrId` int(11) DEFAULT NULL,
  `ReviewScore` tinyint(4) NOT NULL,
  `ReviewText` varchar(300) DEFAULT NULL,
  `ReviewImg1` varchar(255) DEFAULT NULL,
  `ReviewImg2` varchar(255) DEFAULT NULL,
  `ReviewImg3` varchar(255) DEFAULT NULL,
  `ReviewAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ReviewId`),
  KEY `fk_review_food` (`FoodId`),
  KEY `fk_review_user` (`UsrId`),
  CONSTRAINT `fk_review_food` FOREIGN KEY (`FoodId`) REFERENCES `tbl_food` (`FoodId`),
  CONSTRAINT `fk_review_user` FOREIGN KEY (`UsrId`) REFERENCES `tbl_userinfo` (`UsrId`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_review`
--

LOCK TABLES `tbl_review` WRITE;
/*!40000 ALTER TABLE `tbl_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_rider`
--

DROP TABLE IF EXISTS `tbl_rider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_rider` (
  `RiderId` int(11) NOT NULL AUTO_INCREMENT,
  `UsrId` int(11) NOT NULL,
  `RiderVehicleType` varchar(50) DEFAULT NULL,
  `RiderStatus` tinyint(4) NOT NULL DEFAULT 0,
  `RiderVehiclePlate` varchar(20) DEFAULT NULL,
  `RiderVehicleColor` varchar(50) DEFAULT NULL,
  `RiderBankName` varchar(100) DEFAULT NULL,
  `RiderBankAccount` varchar(50) DEFAULT NULL,
  `EmergencyPhone` varchar(20) DEFAULT NULL,
  `RiderRatingAvg` decimal(3,2) DEFAULT 0.00,
  `RiderRatingCount` int(11) DEFAULT 0,
  `RiderAcceptRate` decimal(5,2) DEFAULT 0.00,
  `RiderCancelRate` decimal(5,2) DEFAULT 0.00,
  `RiderBalance` decimal(10,2) DEFAULT 0.00,
  `RiderCheckedAt` date DEFAULT NULL,
  `RiderLat` double DEFAULT 7.0067,
  `RiderLng` double DEFAULT 100.4698,
  PRIMARY KEY (`RiderId`),
  UNIQUE KEY `UsrId` (`UsrId`),
  CONSTRAINT `fk_rider_user` FOREIGN KEY (`UsrId`) REFERENCES `tbl_userinfo` (`UsrId`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_rider`
--

LOCK TABLES `tbl_rider` WRITE;
/*!40000 ALTER TABLE `tbl_rider` DISABLE KEYS */;
INSERT INTO `tbl_rider` VALUES (1,12,'',0,'','','','','',3.55,9,0.00,0.00,0.00,NULL,7.198025511932041,100.60192928780464);
/*!40000 ALTER TABLE `tbl_rider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_settings`
--

DROP TABLE IF EXISTS `tbl_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_settings` (
  `SettingKey` varchar(100) NOT NULL,
  `SettingValue` text NOT NULL,
  PRIMARY KEY (`SettingKey`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_settings`
--

LOCK TABLES `tbl_settings` WRITE;
/*!40000 ALTER TABLE `tbl_settings` DISABLE KEYS */;
INSERT INTO `tbl_settings` VALUES ('bank_acc_name','BiteSync Co.'),('bank_acc_no','123-456-7890'),('bank_name','SCB'),('platform_fee','5'),('promptpay_no','0812345678');
/*!40000 ALTER TABLE `tbl_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_shop`
--

DROP TABLE IF EXISTS `tbl_shop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_shop` (
  `ShopId` int(11) NOT NULL AUTO_INCREMENT,
  `UsrId` int(11) NOT NULL,
  `ShopName` varchar(150) NOT NULL,
  `ShopPhone` varchar(10) DEFAULT NULL,
  `ShopCatType` varchar(100) DEFAULT 'เธญเธฒเธซเธฒเธฃเธ•เธฒเธกเธชเธฑเนเธ',
  `ShopStatus` tinyint(4) NOT NULL DEFAULT 1,
  `ShopLogoPath` varchar(255) DEFAULT NULL,
  `ShopLogoOriPath` varchar(255) DEFAULT NULL,
  `ShopBannerPath` varchar(255) DEFAULT NULL,
  `ShopBannerOriPath` varchar(255) DEFAULT NULL,
  `ShopPrepTime` tinyint(4) DEFAULT 30,
  `ShopBalance` decimal(10,2) DEFAULT 0.00,
  `ShopLat` decimal(10,7) DEFAULT NULL,
  `ShopLng` decimal(10,7) DEFAULT NULL,
  `AdrId` int(11) DEFAULT NULL,
  `ShopCreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ShopId`),
  UNIQUE KEY `UsrId` (`UsrId`),
  KEY `fk_shop_address` (`AdrId`),
  CONSTRAINT `fk_shop_address` FOREIGN KEY (`AdrId`) REFERENCES `tbl_address` (`AdrId`),
  CONSTRAINT `fk_shop_user` FOREIGN KEY (`UsrId`) REFERENCES `tbl_userinfo` (`UsrId`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_shop`
--

LOCK TABLES `tbl_shop` WRITE;
/*!40000 ALTER TABLE `tbl_shop` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_shop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_size`
--

DROP TABLE IF EXISTS `tbl_size`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_size` (
  `SizeId` int(11) NOT NULL AUTO_INCREMENT,
  `FoodId` int(11) NOT NULL,
  `SizeName` varchar(100) NOT NULL,
  `SizePrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`SizeId`),
  KEY `fk_size_food` (`FoodId`),
  CONSTRAINT `fk_size_food` FOREIGN KEY (`FoodId`) REFERENCES `tbl_food` (`FoodId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_size`
--

LOCK TABLES `tbl_size` WRITE;
/*!40000 ALTER TABLE `tbl_size` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_size` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_userinfo`
--

DROP TABLE IF EXISTS `tbl_userinfo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_userinfo` (
  `UsrId` int(11) NOT NULL AUTO_INCREMENT,
  `UsrEmail` varchar(255) NOT NULL,
  `UsrPassword` varchar(255) NOT NULL,
  `UsrPhone` varchar(10) DEFAULT NULL,
  `UsrFullName` varchar(255) DEFAULT NULL,
  `UsrRole` varchar(20) DEFAULT NULL,
  `UsrImage` varchar(255) DEFAULT NULL,
  `UsrStatus` tinyint(4) NOT NULL DEFAULT 1,
  `UsrCreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  `UsrImageOri` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`UsrId`),
  UNIQUE KEY `UsrEmail` (`UsrEmail`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_userinfo`
--

LOCK TABLES `tbl_userinfo` WRITE;
/*!40000 ALTER TABLE `tbl_userinfo` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_userinfo` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-23 17:06:45
